- const reviews = [
- {id: '1', title: 'Хорошее качество и быстрая доставка', author: {name: 'Константин Константинов', position: 'Генеральный директор ООО АртеМикс'}, review: 'Задача организации, в особенности же базовый вектор развития, в своём классическом представлении, допускает внедрение глубокомысленных рассуждений. Учитывая ключевые сценарии поведения, внедрение современных методик способствует подготовке и реализации прогресса профессионального сообщества.'},
- {id: '2', title: 'Довольны выбором!', author: {name: 'Анастасия Абрамова', position: 'Менеджер по закупкам ЗАО СтройТрест'}, review: 'Задача организации, в особенности же базовый вектор развития, в своём классическом представлении, допускает внедрение глубокомысленных рассуждений.'},
- {id: '3', title: 'Хорошее качество, быстрая доставка и очень приятное общение с клиентами', author: {name: 'Константин Константинов', position: 'Генеральный директор ООО АртеМикс'}, review: 'Задача организации, в особенности же базовый вектор развития, в своём классическом представлении, допускает внедрение глубокомысленных рассуждений. Учитывая ключевые сценарии поведения, внедрение современных методик способствует подготовке и реализации прогресса профессионального сообщества.'},
- ]

section.reviews-screen#reviews
   .ui-container
      .title-wrap
         h2.ui-title.section-title 
         p.ui-text 
      
      .reviews-container.swiper-container
         .swiper#reviews-swiper
            .swiper-wrapper
               .swiper-slide
                  each item in reviews
                     .review
                        h5.review__title= item.title
                        p.review__text.ui-text= item.text
                        .read-more #[span Читать польностью] #[i.i-angle_right]

                        .author
                           .author__img: img(src=`assets/img/reviews/avatar_${item.id}.webp`, alt=item.author.name) 
                           .author__details
                              h6.author__name= item.author.name
                              span.author__position= item.author.position
                           




