- const reviews = [
- {id: '1', title: 'Очень хорошее обслуживание!', author: {name: 'Владислава Циммерманн', position: 'Счастливый клиент'}, review: 'Я очень довольна обслуживанием и качеством товаров в TД Интех. Купила у них клей для плитки для ремонта ванной комнаты. Все было в наличии, и цены были очень разумные. Отличное и приятное обслуживание, быстро перезвноили и проконсультировали в выборе более подходящих материалов. Доставка была довольно быстрой и приемлемой по цене! Спасибо за вашу работу'},
- {id: '2', title: 'Отличный выбор!', author: {name: 'Ксения Дарская', position: 'Счастливый клиент'}, review: 'Отличный выбор! Мы приобрели строительные материалы для ремонта в нашем доме у TД Интех, и остались очень довольны качеством и ценой. Спасибо за отличное обслуживание!'},
- {id: '3', title: 'Оперативная и недорогая доставка', author: {name: 'Андрей Сокольник', position: 'Счастливый клиент'}, review: 'Хочу выразить благодарность компании TД Интех за оперативную доставку строительных материалов. Мы заказали цемент и сухие смеси для нашего строительного проекта, и все пришло вовремя и без проблем. Рекомендую!'},
- ]

section.reviews-screen#reviews
   .ui-container
      .title-wrap
         h2.ui-title.section-title Что говорят о нас наши клиенты
         p.ui-text.subtitle Мы глубоко ценим наших клиентов, поэтому всегда предоставляем только качественный сервис, проявляя интерес к каждому покупателю. Наша команда всегда готова прийти на помощь 
      
      .reviews-container.swiper-container
         .swiper#reviews-swiper
            .swiper-wrapper
               each item in reviews
                  .swiper-slide
                     .review
                        h5.review__title= item.title
                        .review__text-wrap
                           p.review__text.ui-text= item.review
                           if item.review.length > 330
                              .read-more.open_review(data-id=item.id) #[span Читать полностью] #[i.i-angle_right]

                        .author
                           .author__img: img(src=`assets/img/reviews/avatar_${item.id}.webp`, alt=item.author.name) 
                           .author__details
                              h6.author__name= item.author.name
                              span.author__position= item.author.position
         .swiper-arrows    
            .swiper-arrow.vi-fill-icon.dark.static.prev
            .swiper-arrow.vi-fill-icon.dark.static.next



