- const reviews = [
- {id: '1', title: 'Хорошее качество и быстрая доставка', author: {name: 'Константин Константинов', position: 'Генеральный директор ООО АртеМикс'}, review: 'Задача организации, в особенности же базовый вектор развития, в своём классическом представлении, допускает внедрение глубокомысленных рассуждений. Учитывая ключевые сценарии поведения, внедрение современных методик способствует подготовке и реализации прогресса профессионального сообщества. Учитывая ключевые сценарии поведения, внедрение современных методик способствует подготовке и реализации прогресса профессионального сообщества.'},
- {id: '2', title: 'Довольны выбором!', author: {name: 'Анастасия Абрамова', position: 'Менеджер по закупкам ЗАО СтройТрест'}, review: 'Задача организации, в особенности же базовый вектор развития, в своём классическом представлении, допускает внедрение глубокомысленных рассуждений. Задача организации, в особенности же базовый вектор развития, в своём классическом представлении, допускает внедрение глубокомысленных рассуждений. Задача организации, в особенности же базовый вектор развития, в своём классическом представлении, допускает внедрение глубокомысленных рассуждений.'},
- {id: '3', title: 'Хорошее качество, быстрая доставка и очень приятное общение с клиентами', author: {name: 'Константин Константинов', position: 'Генеральный директор ООО АртеМикс'}, review: 'Задача организации, в особенности же базовый вектор развития, в своём классическом представлении, допускает внедрение глубокомысленных рассуждений.'},
- ]

section.reviews-screen#reviews
   .ui-container
      .title-wrap
         h2.ui-title.section-title Что говорят о нас наши клиенты
         p.ui-text.subtitle Мы глубоко ценим наших клиентов, поэтому всегда предоставляем только качественный сервис, проявляя интерес к каждому покупателю. Наша команда всегда готова прийти на помощь 
      
      .reviews-container.swiper-container
         .swiper#reviews-swiper
            .swiper-wrapper
               each item in reviews
                  .swiper-slide
                     .review
                        h5.review__title= item.title
                        .review__text-wrap
                           p.review__text.ui-text= item.review
                           if item.review.length > 330
                              .read-more.open_review(data-id=item.id) #[span Читать польностью] #[i.i-angle_right]

                        .author
                           .author__img: img(src=`assets/img/reviews/avatar_${item.id}.webp`, alt=item.author.name) 
                           .author__details
                              h6.author__name= item.author.name
                              span.author__position= item.author.position
         .swiper-arrows    
            .swiper-arrow.dark.static.prev
            .swiper-arrow.dark.static.next



