- const contactLinks  = [
- {text: 'zakaz@tdintex.ru', icon: 'email', link: 'mailto:zakaz@tdintex.ru'},
- {text: '+7 981 259 86 49', icon: 'phone', link: 'tel:+79812598649'},
- ]

- const contactAddress = {text: 'Калининград, <br> просп. Советский, 12, офис 805', icon: 'marker'} 
- const contactWarehouse = {text: 'Калининград, <br> поселок Прегольский, 1Б', icon: 'warehouse'} 

.contact-links(class={contactsScreenLinks: contactsScreenLinks})
   each item in contactLinks
      a.contact-item.hover_parent(href=item.link)
         .vi-border-icon.action: i(class=`i-${item.icon}`)
         span= item.text

   .contact-item.hover_parent
      .vi-border-icon.action: i(class=`i-${contactAddress.icon}`)
      span!= contactAddress.text

   .contact-item.hover_parent
      .vi-border-icon.action: i(class=`i-${contactWarehouse.icon}`)
      span!= contactWarehouse.text