- const contactsScreenLinks = true

section.contact-screen#contacts
   .ui-container
      .map#map
         iframe(
            loading="lazy"
            src="https://yandex.ru/map-widget/v1/?um=constructor%3A778798b42af6fcca02c52435250b79f109fd32b512f6500d73c4b82d5c04a79c&amp;source=constructor"
            width="100%"
            height="100%"
            frameborder="0"
         )

      .title-wrap
         h2.ui-title.section-title.light наши контакты
         p.ui-text.subtitle #[strong Вы можете сделать заказ] или задать любой интересующий вас вопрос, заполнив форму ниже. Или напишите нам в мессенджере. Мы обязательно свяжемся с вами как можно быстрее

      .contact-container
         include ../../forms/contact-form/contact-form
         include ../../contacts-links/contacts-links
            block contactLinks
